.dialog-back {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.dialog {
    /* background: rgb(167, 155, 230); */
    background: rgb(145, 197, 212);
    min-width: 220px;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}

.title {
    color: rgb(246, 226, 6);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.result {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ボタンクリック時 */
.button:hover {
    transform: scale(1.05);
}

.reverse-pieceData {
    transform: rotate(180deg);
}