<div class="dialog-back">
    <div class="dialog" [class.reverse-pieceData]="isReverse()">

        <!-- タイトル -->
        <div class="title">
            ゲーム終了
        </div>

        <!-- 結果 -->
        <div class="result">
            @if(gameJudge()==1){
            Player 1 の勝利！
            }
            @else if(gameJudge()==2){
            Player 2 の勝利！
            }
            @else if(gameJudge()==3){
            引き分け
            }
        </div>

        <div class="buttons">
            <button class="button" (click)="ClickReplay()">
                リプレイ
            </button>

            <button class="button" (click)="ClickEnd()">
                終了
            </button>
        </div>

    </div>
</div>