:host {
    display: block;
    position: relative;
    z-index: 2;
}

.image-box img {
    width: 65px;
    height: auto;
}

img {
    display: block;
    margin: auto;
}

/* 駒にカーソルを当てた時に色変更 */
/* .image-box:hover {
    background-color: #f29d0b;
} */
.can-hover:hover {
    background-color: #f29d0b;
}

/* 駒反転 */
.reverse {
    transform: scale(-1, -1);
}