/* 背景 */
.dialog-back {
    pointer-events: none;
}

/* ダイアログ */
.dialog {
    background: rgba(117, 189, 134, 0.468);
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
}

/* 反転 */
.reverse-pieceData {
    transform: rotate(180deg);
}