.dialog-back {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.dialog {
    background: white;
    padding: 5px;
    border-radius: 8px;
}

.reverse-pieceData {
    transform: rotate(180deg);
}