.dialog-back {
    pointer-events: none;
}

.dialog {
    background: rgba(117, 189, 134, 0.468);
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
}

.reverse-pieceData {
    transform: rotate(180deg);
}