<div class="whole">
    <h1>ルール説明</h1>
</div>

<!-- 基本ルール -->
<ul class="ul-setting">
    <li>盤上の駒を交互に動かして敵の「帥（スイ）」を詰ませるゲーム</li>
    <li>同じ盤面が4回現れた場合は、「千日手(せんにちて)」となって引き分け</li>
    <li>初期配置が決まっている</li>
    <li>盤に持ち駒を置く場合、自駒の列以下に置くことができる</li>
    <li>取った相手の駒はそのゲームでは使うことはできない</li>
    <li>2段まで駒をツケる(重ねる)ことができ、上に乗っている駒ほど動かせる範囲が広がる</li>
    <li>自駒でも相手の駒でもツケることができる</li>
    <li>相手の駒を取るかツケるか選択できる</li>
    <li>2段ツケている駒を取った場合、2段とも取ることになる</li>
    <li>2段ツケている駒を取った場合、自駒がいたら相手の駒だけを取る</li>
    <li>自駒より高い駒にはツケ・取得はできない</li>
</ul>
<br>

<!-- 各駒の説明 -->
<div class="whole">
    <h2>
        駒の説明
    </h2>
    <ul class="ul-setting">
        <li>青色が1段の時に動ける範囲</li>
        <li>赤色が2段の時の動ける範囲</li>
        <li>緑色が無制限に動ける範囲</li>
    </ul>
    <br>
    ※弓：自駒より高い駒は飛び越えることはできない
</div>

<div class="image-box">
    <div class="name">
        <p>スイ</p>
        <img src="./image/rule-image/師.png" alt="帥の移動範囲の図">
    </div>

    <div class="name">
        <p>タイショウ</p>
        <img src="./image/rule-image/大.png" alt="大の移動範囲の図">
    </div>

    <div class="name">
        <p>チュウジョウ</p>
        <img src="./image/rule-image/中.png" alt="中の移動範囲の図">
    </div>

    <div class="name">
        <p>ショウショウ</p>
        <img src="./image/rule-image/小.png" alt="小の移動範囲の図">
    </div>

    <div class="name">
        <p>サムライ</p>
        <img src="./image/rule-image/侍.png" alt="侍の移動範囲の図">
    </div>
</div>
<div class="image-box">
    <div class="name">
        <p>ヤリ</p>
        <img src="./image/rule-image/槍.png" alt="槍の移動範囲の図">
    </div>

    <div class="name">
        <p>キバ</p>
        <img src="./image/rule-image/馬.png" alt="馬の移動範囲の図">
    </div>

    <div class="name">
        <p>シノビ</p>
        <img src="./image/rule-image/忍.png" alt="忍の移動範囲の図">
    </div>

    <div class="name">
        <p>トリデ</p>
        <img src="./image/rule-image/砦.png" alt="砦の移動範囲の図">
    </div>

    <div class="name">
        <p>ヒョウ</p>
        <img src="./image/rule-image/兵.png" alt="兵の移動範囲の図">
    </div>

    <div class="name">
        <p>ユミ</p>
        <img src="./image/rule-image/弓.png" alt="弓の移動範囲の図">
    </div>
</div>