/* 全体について */
.whole {
    text-align: center;
}

/* 箇条書き部分について */
.ul-setting {
    width: fit-content;
    margin: auto;
}

/*画像が横に並ぶブロック */
.image-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*画像自体のサイズ指定 */
.image-box img {
    width: 180px;
    height: auto;
}

/* 名前を画像の上に表示 */
.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}