.dialog-back {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.reverse-tsukeConfirm {
    transform: rotate(180deg);
}