@if(isDisplay){
<div style="text-align: center; font-weight: bold;">
    ゲーム終わるときはゲーム終了ボタンを押してください！！
</div>
}

<br>
<app-mode (gameMode)="GetMode($event)"></app-mode>
<br>

<div class="whole">
    <input #passInput type="text" placeholder="4文字の合言葉を入力(数字)" (keyup.enter)="AddPassword(passInput)" />

    <button (click)="AddPassword(passInput)">決定</button>
</div>
<br>
<div class="whole" style="text-align: center; font-weight: bold;">
    Now Loading...
</div>
<br>
<div style="text-align: center; font-weight: bold;">
    ※便利な機能
</div>
<ul class="ul-setting">
    <li>駒を右クリックで移動範囲図の表示</li>
    <li>もう一度右クリックで非表示</li>
    <li>ほかのマスをクリックで駒選択の解除</li>
    <li>ツケ状態の駒ホバーで状態表示</li>
</ul>
<br>

<div class="whole">
    <button (click)="BackHome()">戻る</button>
</div>
