/* 盤と持ち駒の位置 */
.position {
    display: flex;
    /* 横中央 */
    justify-content: center;
    /* 縦中央 */
    align-items: center;
    /* 画面高さ */
    height: 580px;
    /* 駒と盤の幅 */
    gap: 50px;
    /* 余白 */
    /* padding: 0 270px; */
}

/* 自駒の調整 */
.right {
    display: flex;
    /* 自動で次の行に折り返す */
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
    height: max-content;
    border: 3px solid black;
    background-color: #d9b67a;
    /* align-self: flex-end; */
    margin-bottom: -380px;
}

/* 相手駒の調整 */
.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 180px;
    height: max-content;
    border: 3px solid black;
    background-color: #d9b67a;
    /* align-self: flex-start; */
    margin-top: -380px;
}

.others-position {
    position: absolute;
    z-index: 200;
}

/* 手数の位置 */
.count-position {
    position: absolute;
    top: -40px;
    z-index: 300;
    font-size: 24px;
    font-weight: bold;
}

.result {
    font-size: 24px;
    margin-bottom: 20px;
}

/* リセットボタンの位置 */
.reset-position {
    position: absolute;
    top: -30px;
    right: -120px;
    z-index: 300;
}

/* リプレイ(次へ・戻る)の位置 */
.replay-position {
    position: absolute;
    display: flex;
    z-index: 300;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

/* 左に移動範囲図 */
.left-info {
    left: -235px;
    top: 200px;
}

/* 右に移動範囲図 */
.right-info {
    right: -230px;
    top: 150px;
}

/* 左にツケ状態表示 */
.left-tsuke {
    left: -210px;
    top: 200px;
}

/* 右にツケ状態表示 */
.right-tsuke {
    right: -200px;
    top: 150px;
}

/* ターン表示 */
.turn-display {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* 1Pのターン表示場所 */
.player1-turn {
    background: #d0e8ff;
    top: 440px;
    left: -230px;
}

/* 2Pのターン表示場所 */
.player2-turn {
    background: #ffd0d0;
    top: 35px;
    right: -215px;
}

/* 移動範囲の画像 */
.others-position img {
    width: 180px;
    height: auto;
}

/* 反転 */
.reverse {
    transform: rotate(180deg);
}

/* 盤の位置 */
.board-position {
    position: relative;
}