<div class="position">
　　<div>
  　　{{ debugMessage }}
　　</div>
    <!-- 相手の持ち駒 -->
    <app-hand class="left" [whiteHandPieces]="gameStateService.whiteHandPiece()" [showReplay]="isShowReplay"
        [currentTurn]="isTurn" (selected)="postSelectedPieces($event)"
        (showRulePiece)="ShowRulePiece($event)"></app-hand>

    <!-- 盤面 -->
    <div class="board-position">

        <div class="count-position">
            {{moveCount}}手目
        </div>

        <div class="useful-position">
            <details>
                <summary>便利機能</summary>
                <ul>
                    <li>駒を右クリックで移動範囲図の表示</li>
                    <li>もう一度右クリックで非表示</li>
                    <li>ほかのマスをクリックで駒選択の解除</li>
                    <li>ツケ状態の駒ホバーで状態表示</li>
                </ul>
            </details>
        </div>

        <!-- ゲーム終了 -->
        <div class="end-position">
            <app-endgame (endGame)="postClickedGameEnd()"></app-endgame>
        </div>

        <!-- リプレイ -->
        @if(isShowReplay){
        <div class="replay-position">
            <app-replay (replayNum)="postClickedReplay($event)"></app-replay>
        </div>
        }

        <!-- 投了 -->
        @if(isGiveButton){
        <div class="give-position">
            <app-giveup (giveUp)="postClickedGiveUp()"></app-giveup>
        </div>
        }

        <!-- リセット -->
        <div class="reset-position">
            <app-reset (reset)="postClickedBoardReset()" (reset)="postClickedCellReset()"></app-reset>
        </div>

        <!-- 盤面 -->
        <app-board [board]="gameStateService.gameState()" [calculatedPieces]="gameStateService.pieceMoveRange()"
            [turn]="isTurn" [showReplay]="isShowReplay" (selected)="postSelectedPieces($event)"
            (destination)="postSelectedCell($event)" (getPiece)="ClickGetPiece()"
            (showRulePiece)="ShowRulePiece($event)" (showTsukeDialog)="ShowTsukeDialog($event)"
            (closeTsukeDialog)="CloseTsukeDialog()"></app-board>

        <!-- 駒の移動範囲図 -->
        @if(selectedRulePiece){
        <div class="others-position" [class.left-info]="isTurn" [class.right-info]="!isTurn">
            <img [src]="getRuleImagePath(selectedRulePiece)" [class.reverse]="!isTurn">
        </div>
        }

        <!-- ツケ駒の確認 -->
        @if(isShowTsukeDialog){
        <div class="others-position" [class.left-tsuke]="isTurn" [class.right-tsuke]="!isTurn">
            <app-pieceDialog [cell]="tsukeDialogCell" [isReverse]="!isTurn">
            </app-pieceDialog>
        </div>
        }

        <!-- ターン表示 -->
        <div class="turn-display" [class.player1-turn]="isTurn" [class.player2-turn]="!isTurn"
            [class.reverse]="!isTurn">
            {{ isTurn ? "Player1のターン" : "Player2のターン" }}
        </div>

    </div>

    <!-- 自分の持ち駒 -->
    <app-hand class="right" [blackHandPieces]="gameStateService.blackHandPiece()" [showReplay]="isShowReplay"
        [currentTurn]="isTurn" (selected)="postSelectedPieces($event)" (showRulePiece)="ShowRulePiece($event)">
    </app-hand>
</div>

<!-- 勝利判定 -->
@if(gameJudge!=0){
<app-gameJudgeDialog (reset)="postClickedBoardReset()" (reset)="postClickedCellReset()" (replay)="ClickReplay()"
    [isReverse]="!isPlayer" [gameJudge]="gameJudge">
</app-gameJudgeDialog>
}
