.button {
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
    margin: 0 10px;
}

/* ホバー時 */
.button:hover {
    transform: scale(1.05);
}