.button {
    width: 10%;
    min-width: 100px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: 15%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}

/* ホバー時 */
button:hover {
    transform: scale(1.05);
}